#header {
    background-color: #0F0E17;
    padding: 30px 20px;
    text-align: left;
}

#header a {
    color: white;
    font-size: 32px;
    font-weight: 600;
    text-decoration: none;
}

#header a:hover {
    color: rgb(247, 203, 162);
}
